@font-face {
    font-family: "Harano Aji Gothic";
    src: url('./fonts/HaranoAjiGothic-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Moralerspace Neon HW';
    src: url('./fonts/MoralerspaceNeonHW-Regular.woff2') format('woff2');
}

/* https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css */

:root {
    --vp-c-brand-1: #039393;
    --vp-c-brand-2: #fc6c6c;
    --vp-c-brand-3: var(--vp-button-alt-text);
    --vp-button-brand-text: var(--vp-button-alt-bg);

    --vp-c-text-2: #5a5a5a;

    --vp-c-bg: #e5dfcf;
    --vp-c-bg-alt: #ffffff;
    --vp-c-bg-soft: #ffffff;

    --vp-c-divider: #c0c0c0;
    --vp-c-border: #c0c0c0;
    --vp-c-gutter: #c0c0c0;

    --vp-home-hero-name-color: #039393;

    --vp-layout-max-width: 1440px;
}

.dark {
    --vp-c-brand-1: #a8d9d5;
    --vp-c-brand-2: #ffb2ae;
    --vp-c-brand-3: var(--vp-button-alt-text);
    --vp-button-brand-text: var(--vp-button-alt-bg);

    --vp-c-text-2: #c0c0c0;

    --vp-c-bg: #252525;
    --vp-c-bg-alt: #1a1a1a;
    --vp-c-bg-soft: #1a1a1a;

    --vp-c-divider: #5a5a5a;
    --vp-c-border: #5a5a5a;
    --vp-c-gutter: #5a5a5a;

    --vp-home-hero-name-color: #a8d9d5;
}

body {
    background-color: var(--vp-c-bg);
    font-family: 'Harano Aji Gothic', sans-serif;
}

code {
    font-family: 'Moralerspace Neon HW', monospace;
}