@font-face {
    font-family: "Harano Aji Gothic";
    src: url('./fonts/HaranoAjiGothic-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Moralerspace Neon HW';
    src: url('./fonts/MoralerspaceNeonHW-Regular.woff2') format('woff2');
}

:root {
    --sample-bg: #e5dfcf;
    --vp-home-hero-name-color: #039393;
}

.dark {
    --sample-bg: #252525;
    --vp-home-hero-name-color: #a8d9d5;
}

body {
    background-color: var(--sample-bg);
    font-family: 'Harano Aji Gothic', sans-serif;
}

code {
    font-family: 'Moralerspace Neon HW', monospace;
}