@font-face {
    font-family: "Harano Aji Gothic";
    src: url('./fonts/HaranoAjiGothic-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Harano Aji Mincho";
    src: url('./fonts/HaranoAjiMincho-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Moralerspace Neon HW';
    src: url('./fonts/MoralerspaceNeonHW-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    /* ライトテーマ */
    --sample-bg: #cce3e6;

    /* hero環境 */
    --vp-home-hero-name-color: #039393;
}

.dark {
    --sample-bg: #000000;
}

h1, h2, h3, h4 {
    font-family: 'Harano Aji Mincho', serif;
}

body {
    background-color: var(--sample-bg);
    font-family: 'Harano Aji Gothic', sans-serif;
}

code {
    font-family: 'Moralerspace Neon HW', monospace;
}